.d-none {
    display: none !important;
}

.btn {
    width: 130px;
    height: 50px;
    border-radius: 10px;
    padding: 16px 10px;
    line-height: 24px;
    background-color: #FFFFFF;
    cursor: pointer;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 25%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:active {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0);
}

.span-star {
    color: #FF8190;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.headline {
    font-size: 40px;
    position: absolute;
    top: 20px;
    left: 20px;
}

.container-board {
    position: absolute;
    top: 12%;
    right: 10%;
    border-radius: 15px;
    border: 1px solid black;
    background-color: #f6f7f8;
    width: 1000px;
    height: 700px;
}

#close-button {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 20px;
    cursor: pointer;
}

input {
    width: 440px;
    height: 24px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    font-size: 20px;
    padding: 20px 8px;
}

#content {
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 965px;
    height: 400px;
    font-size: 20px;
}

.content-left,
.content-right {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 440px;
    height: 222px;
}

#input-title {
    line-height: 24px;
}

#input-description-board {
    padding: 9px 8px;
    max-width: 440px;
    min-width: 440px;
    max-height: 200px;
    min-height: 150px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    font-size: 20px;
}

#input-assigned-board,
#input-categorie-board {
    width: 440px;
    height: 24px;
    padding: 20px 16px;
    cursor: pointer;
    pointer-events: none;
}

.input-categorie-container-board {
    position: relative;
}

.input-categorie-arrow-down-board {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 10px;
    height: 10px;
    cursor: pointer;
}

.seperator {
    border: 1px solid black;
    width: 0;
    height: 300px;
}

.input-prio-board {
    display: flex;
    justify-content: space-around;
}

#input-prio1-board {
    background-image: url(../assets/img/urgent_button.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 136px;
    height: 56px;
    cursor: pointer;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 25%);
    border-radius: 10px;
}

#input-prio1-board:hover {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0);
    border-radius: 10px;
}

#input-prio2-board {
    background-image: url(../assets/img/medium_button.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 136px;
    height: 56px;
    cursor: pointer;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 25%);
    border-radius: 10px;
}

#input-prio2-board:hover {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0);
    border-radius: 10px;
}

#input-prio3-board {
    background-image: url(../assets/img/low_button.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 136px;
    height: 56px;
    cursor: pointer;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 25%);
    border-radius: 10px;
}

#input-prio3-board:hover {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0);
    border-radius: 10px;
}

footer {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.button-footer {
    display: flex;
}