* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "inter", "sans-serif";
    background-color: #F6F7F8;
}

.m-left-328 {
    margin-left: 328px;
}

.head {
    margin-top: 100px;
    margin-bottom: 40px;
}

h1 {
    font-size: 61px;
}

.btn {
    width: 136px;
    height: 56px;
    border-radius: 10px;
    padding: 16px 10px;
    line-height: 24px;
    background-color: #FFFFFF;
    cursor: pointer;
}

.span-star {
    color: #FF8190;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

#content {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}

input {
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    height: 48px;
    width: 440px;
    font-size: 20px;
}

.dropdown a:hover {
    background-color: #ddd;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.show {display:block;}

.content-left,
.content-right {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 440px;
    height: 376px;
}

#input-title,
#input-description,
#input-assigned {
    font-size: 20px;
}

#input-assigny,
#input-category {
    width: 440px;
    height: 48px;
    padding: 12px 16px;
}


#input-title {
    padding: 12px 21px;
    margin-bottom: 20px;
}

#input-description {
    padding: 18px 16px;
    gap: 8px;
    margin-bottom: 20px;
    padding: 18px 16px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    max-width: 440px;
    max-height: 200px;
}

#input-assigned {
    padding: 12px 21px;
}

.seperator {
    width: 0;
    height: 424px;
    border: 1px solid #D1D1D1;
}

#input-prio1 {
    background-image: url(../assets/img/urgent_button.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 136px;
    height: 56px;
    cursor: pointer;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 25%);
    border-radius: 10px;
}

#input-prio1:hover {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0);
    border-radius: 10px;
}

#input-prio2 {
    background-image: url(../assets/img/medium_button.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 136px;
    height: 56px;
    cursor: pointer;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 25%);
    border-radius: 10px;
}

#input-prio2:hover {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0);
    border-radius: 10px;
}

#input-prio3 {
    background-image: url(../assets/img/low_button.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 136px;
    height: 56px;
    cursor: pointer;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 25%);
    border-radius: 10px;
}

#input-prio3:hover {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0);
    border-radius: 10px;
}

.input-prio-span {
    width: 440px;
    display: flex;
    justify-content: space-between;
}

#input-date {
    padding: 12px 16px;
    margin-bottom: 20px;
    cursor: pointer;
}

#input-subtask {
    padding: 12px 16px;
    cursor: pointer;
    position: relative;
}

.input-subtask-span {
    position: absolute;
}

.footer {
    margin-top: 150px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}

.btn-footer-clear,
.btn-footer-create {
    height: 56px;
    border-radius: 10px;
    border: 1px solid #2A3647;
    padding: 16px;
    cursor: pointer;
    font-size: 20px;
}

.btn-footer-create {
    width: 110px;
    background-image: url(../assets/img/Property\ 1=check.svg);
    background-repeat: no-repeat;
    background-position-x: 150px;
    background-position-y: 15px;
    background-color: #2A3647;
    color: white;
}

.btn-footer-create {
    width: 183px;
}

.btn-footer-create:active {
    background-color: #29ABE2;
    color: white;
}