@media (max-width: 1420px) {
  .contactDetailsName {
    font-size: 28px;
  }
}

@media (max-width: 1290px) {
  .contactsSidebar {
    position: static;
  }

  .headlinesContainer {
    left: 500px;
  }

  .contactsHeadlineContainer {
    flex-direction: column;
    align-items: flex-start;
  }

  .contactsHeadlineContainer::after {
    width: 59px;
    height: 3px;
    transform: translateX(-260%);
    bottom: -20px;
  }

  .subheadingContacts {
    margin-left: 0;
  }

  .fullContactDetails {
    margin-top: 20px;
  }

  .contactDetailsName {
    font-size: 20px;
  }

  .contactsFullscreen.in {
    left: 500px;
  }
}

@media (max-width: 880px) {
  .addContactButton {
    display: none;
  }

  .addContactIcon {
    position: absolute;
    bottom: 15vh;
    right: 10vw;
    border-radius: 50%;
    padding: 15px;
    border: none;
    background-color: #2a3647;
  }
}

@media (max-width: 428px) and (height: 766px) {
  .contactsSidebar {
    width: 428px;
    height: 766px;
    top: 80px;
    padding: 0px 14px 0px 14px;
    gap: 0px;
    display: flex;
  }

  .addContactButton {
    font-size: 0;
  }

  .addContactButton img {
    width: 56px;
    height: 56px;
    top: 758px;
    left: 356px;
    padding: 12px 0px 0px 0px;
    gap: 10px;
    border-radius: 46px 0px 0px 0px;
    border: 1px solid transparent;
  }
}
