body {
  overflow-x: hidden;
  width: 1440px;
  height: 1024px;
  background-color: #f6f7f8;
  font-family: "Inter";
  box-sizing: border-box;
  margin: 0;
}

.mainContainerContacts {
  display: flex;
}

/*Overlay*/
.addNewContactOverlay {
  position: fixed;
  top: 50%;
  /*right: -100%;*/
  transform: translateY(-50%);
  width: 1212px;
  height: 592px;
  background-color: white;
  box-shadow: -4px 0 6px 0 rgba(0, 0, 0, 0.1);
  transition: right 0.5s ease;
  z-index: 999;
  border-radius: 30px;
  opacity: 1;
}

/*Overlay links*/
.leftOverlayContent {
  width: 467px;
  height: 594px;
  padding: 66px 48px;
  gap: 12px;
  background: #2a3647;
  float: left;
  color: white;
}

.contactsOverlayImg {
  width: 55.6px;
  height: 66.48px;
}

.contactsOverlayHeadline {
  font-size: 61px;
  font-weight: 700;
  line-height: 73.2px;
  text-align: left;
  width: 366px;
  height: 73px;
}

.contactsOverlaySubheadline {
  width: 371px;
  height: 32px;
  font-size: 27px;
  font-weight: 400;
  line-height: 32.4px;
  text-align: left;
}

.contactsOverlaySubheadline::after {
  content: "";
  display: flex;
  width: 90px;
  border: 3px solid #29abe2;
  border-radius: 3px;
}

/*Overlay rechts*/

.rightOverlayContent {
  /* Stile für den rechten Inhalt*/
}

.overlayPersonLargeImg {
  width: 120px;
  height: 120px;
  top: 204px;
  left: 550px;
  border-radius: 70px;
  border: 3px;
  border: 3px solid #ffffff;
  background: #d1d1d1;
}

.overlayInputField {
  display: flex;
  align-items: center;
  position: relative;
}

.overlayContactsInput {
  width: 380px;
  height: 24px;
  gap: 10px;
  display: flex;
  border-radius: 10px;
  padding: 12px 21px 12px 21px;
  border: 1px solid #d1d1d1;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  outline: none;
}
.overlayContactsInput::placeholder {
  color: #d1d1d1;
  outline: none;
}

input[type="text"]:focus,
input[type="email"]:focus {
  border: 1px solid #29abe2 !important;
}

.contactsIcon {
  width: 24px;
  height: 24px;
}

/*Kontakt-Seitenleiste*/

.contactsSidebar {
  width: 456px;
  height: 928px;
  top: 96px;
  left: 232px;
  background: #ffffff;
  box-shadow: 4px 0px 6px 0px #00000014;
  position: sticky;
  overflow-y: scroll;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/*Button-Div*/

.buttonContainer {
  width: 456px;
  height: 101px;
  padding: 22.5px 52px;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addContactButton {
  background: #2a3647;
  color: #ffffff;
  font-size: 21px;
  font-weight: 700;
  line-height: 25.2px;
  justify-content: center;
  cursor: pointer;
  width: 328px;
  height: 56px;
  top: 22.5px;
  left: 52px;
  padding: 12px 0px 12px 0px;
  gap: 16px;
  border-radius: 10px;
  border: 1px solid #2a3647;
  display: flex;
  align-items: center;
}

/*Kontakliste*/
.contactList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.letter {
  width: 352px !important;
  font-size: 20px;
  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 36px;
  gap: 8px;
  display: flex;
}

.lineContactSidebar {
  width: 352px;
  border: 1px solid #d1d1d1;
  gap: 10px;
  display: flex;
}

.contactListInner {
  width: 352px;
  height: 78px;
  gap: 35px;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-top: 15px;
  padding-bottom: 15px;
}

/*Scrollbalken*/
.contactsSidebar::-webkit-scrollbar {
  width: 24px;
  background-color: white;
}

.contactsSidebar::-webkit-scrollbar-thumb {
  background-color: #a8a8a8;
  border: 8px solid #a8a8a8;
  border-radius: 10px;
  height: 53px;
  width: 10px;
}

/*Rechte Seite*/

.headlinesContainer {
  display: flex;
  align-items: center;
  position: absolute;
  top: 206px;
  left: 743px;
  height: 73px;
}

.contactsHeadline {
  font-size: 61px;
  font-weight: 700;
  line-height: 73.2px;
  text-align: left;
  position: relative;
}

.subheadingContacts {
  font-size: 27px;
  font-weight: 400;
  line-height: 32.4px;
  text-align: left;
  margin-left: 40px;
}

.contactsHeadlineContainer {
  display: flex;
  align-items: center;
  position: relative;
}

.contactsHeadlineContainer::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 3px;
  height: 59px;
  background-color: #29abe2;
  margin-left: 20px;
}
