/*Scrollbalken*/
.contactsSidebar::-webkit-scrollbar {
  background-color: white;
}

.contactsSidebar::-webkit-scrollbar-thumb {
  background-color: #a8a8a8;
  border: 8px solid #a8a8a8;
  border-radius: 10px;
  height: 10px;
  width: 5px;
}

/* Pfeil hoch */
.contactsSidebar::-webkit-scrollbar-button:vertical:decrement {
  height: 14px;
  width: 16px;
  background-position: center;
  background-image: url("../assets/img/arrowUp.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.contactsSidebar::-webkit-scrollbar-button:vertical:decrement:active {
  background-image: url("../assets/img/arrowUp_active.svg");
}

/* Pfeil runter */
.contactsSidebar::-webkit-scrollbar-button:vertical:increment {
  height: 14px;
  width: 16px;
  background-position: center;
  background-image: url("../assets/img/arrowDown.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.contactsSidebar::-webkit-scrollbar-button:vertical:increment:active {
  background-image: url("../assets/img/arrowDown_active.svg");
}

/*Rechte Seite*/

.headlinesContainer {
  display: flex;
  align-items: center;
  position: absolute;
  top: 206px;
  left: 743px;
  height: 73px;
}

.contactsHeadline {
  font-size: 61px;
  font-weight: 700;
  line-height: 73.2px;
  text-align: left;
  position: relative;
}

.subheadingContacts {
  font-size: 27px;
  font-weight: 400;
  line-height: 32.4px;
  text-align: left;
  margin-left: 40px;
}

.contactsHeadlineContainer {
  display: flex;
  align-items: center;
  position: relative;
}

.contactsHeadlineContainer::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 3px;
  height: 59px;
  background-color: #29abe2;
  margin-left: 20px;
}

/*Aufgerufener Kontakt rechts*/

.contactsFullscreen {
  width: 461px;
  height: 364px;
  top: 311px;
  left: 750px;
  gap: 21px;
  position: fixed;
  display: flex;
  align-items: center;
}

.fullContactDetails {
  width: 461px;
  height: 364px;
  top: 311px;
  left: 750px;
  gap: 21px;
  position: fixed;
  display: flex;
  align-items: center;
}

.fullContactHeader {
  width: 461px;
  height: 120px;
  gap: 54px;
  display: flex;
}

.contactDetailsInitials {
  width: 120px;
  height: 120px;
  gap: 10px;
  border-radius: 70px 0px 0px 0px;
  border: 3px solid #ffffff;
  box-shadow: 0px 0px 4px 0px #0000001a;
}

.contactDetailsName {
  width: 287px;
  height: 56px;
  font-size: 47px;
  font-weight: 500;
  line-height: 56.4px;
  text-align: left;
  color: #000000;
}

.contactDetailsButtons {
  width: 159px;
  height: 24px;
  gap: 16px;
  display: flex;
}

.editContactButton {
  width: 62px;
  height: 24px;
  gap: 13px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
  display: flex;
  align-items: center;
  border: none;
  background-color: #f6f7f8;
}

.editImg {
  width: 24px;
  height: 24px;
}

.deleteContactButton {
  width: 81px;
  height: 24px;
  left: 78px;
  gap: 8px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
  display: flex;
  align-items: center;
  border: none;
  background-color: #f6f7f8;
}

.contactInfoHeader {
  width: 207px;
  height: 74px;
  gap: 59px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.contactInfoDetails {
  width: 140px;
  height: 128px;
  gap: 22px;
}

.contactInfoEmail {
  width: 140px;
  height: 53px;
  gap: 15px;
}

.contactInfoLabelEmail {
  width: 43px;
  height: 19px;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.2px;
  text-align: left;
  color: #000000;
}

.contactInfoValueEmail {
  width: 140px;
  height: 19px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
  color: #007cee;
}

.contactInfoPhone {
  width: 124px;
  height: 53px;
  gap: 15px;
}

.contactInfoLabelPhone {
  width: 50px;
  height: 19px;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.2px;
  text-align: left;
  color: #000000;
}

.contactInfoValuePhone {
  width: 124px;
  height: 19px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
  color: #000000;
}
