/* Logo*/

.logoSignupPage {
  width: 100.03px;
  height: 121.97px;
  top: 80px;
  left: 77px;
  position: fixed;
}

/*Sign up Container*/

.signupArrow {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 64px;
  left: 48px;
  background-image: url(../assets/img/signupArrow.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.signupArrow:hover {
  background-image: url(../assets/img/signupArrowHover.png);
}

.signupContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  width: 422px;
  height: 534px;
  left: 421px;
  top: 197px;
  padding: 48px 88px 48px 88px;
  border-radius: 30px;
  gap: 32px;
  box-shadow: 0px 0px 14px 3px #0000000a;
  position: absolute;
}

/*Sign up-Überschrift*/

.signupHeadline {
  font-family: Inter;
  font-size: 61px;
  font-weight: 700;
  line-height: 73.2px;
  text-align: center;
  position: relative;
  width: 315px;
  height: 89px;
  display: flex;
  gap: 16px;
  justify-content: center;
  margin: 0;
}

.signupHeadline::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  border-bottom: 3px solid #29abe2;
}

/*Sign up Kästchen*/

.mainCredentialsSignup {
  height: 326px;
  width: 422px;
  gap: 24px;
  display: flex;
  flex-direction: column;
}

.signupInputFields {
  width: 422px;
  height: 286px;
  gap: 24px;
  display: flex;
  align-items: center;
}

.emailContainer {
  display: flex;
  align-items: center;
  position: relative;
  width: 422px;
  height: 48px;
}

.emailIcon {
  position: absolute;
  right: 21px;
  width: 24px;
  height: 24px;
}

.errorMessageSignup {
  display: none;
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.signupEmail {
  width: 380px;
  height: 24px;
  gap: 10px;
  display: flex;
  border-radius: 10px;
  padding: 12px 21px 12px 21px;
  border: 1px solid #d1d1d1;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  outline: none;
}

.signupEmail::placeholder,
.signupPassword::placeholder {
  color: #d1d1d1;
  outline: none;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  border: 1px solid #29abe2 !important;
}

input[type="password"].error {
  border: 1px solid red !important;
  outline: none;
}

.signupPassword {
  width: 380px;
  gap: 8px;
  display: flex;
  height: 24px;
  padding: 12px 21px 12px 21px;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  outline: none;
}

/*Remember-Abschnitt*/

.privacyPolicySection {
  display: flex;
  width: 231px;
  height: 24px;
  gap: 8px;
  left: 39px;
  position: relative;
  align-items: center;
}

.checkboxRemember {
  display: none;
}

.checkboxLabel {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
  padding-left: 30px;
}

.checkboxRemember + .checkboxLabel::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url("../assets/img/checkboxUnchecked.svg");
  background-size: cover;
  position: absolute;
  left: 0;
  top: -4px;
  transition: background-image 0.1s;
  cursor: pointer;
}

.checkboxRemember:not(:checked) + .checkboxLabel:hover::before {
  background-image: url("../assets/img/checkboxUncheckedHover.svg");
  cursor: pointer;
}

.checkboxRemember:checked + .checkboxLabel::before {
  background-image: url("../assets/img/checkboxChecked.svg");
  cursor: pointer;
}

.checkboxRemember:checked + .checkboxLabel:hover::before {
  background-image: url("../assets/img/checkboxCheckedHover.svg");
  cursor: pointer;
}

.linkPolicy {
  text-decoration: none;
  color: #29abe2;
  font-size: 16px;
}

.linkPolicy:hover {
  text-decoration: underline;
  font-weight: 500;
}

/*Sign up Button*/

#signupButton {
  grid-template-columns: max-content;
  width: 126px;
  height: 55px;
  padding: 15px 24px 15px 24px;
  gap: 10px;
  border-radius: 8px;
  background: #2a3647;
  color: #ffffff;
  font-size: 21px;
  font-weight: 700;
  line-height: 25.2px;
  display: grid;
  align-content: center;
  justify-content: center;
  cursor: pointer;
}

#signupButton:hover {
  background-color: #29abe2;
  border: none;
  box-shadow: 0px 4px 4px 0px #00000040;
}

