body {
  overflow-x: hidden;
  width: 1440px;
  height: 1024px;
  background-color: #f6f7f8;
  font-family: "Inter";
}

/*CSS für Mainpage*/

.mainpage {
  overflow: hidden;
}

/*Animation am Anfang*/

#animatedLogo {
  position: fixed;
  width: 274px;
  height: 334.07px;
  top: 345px;
  left: 583px;
  gap: 0px;
  transition: transform 300ms ease-in-out, width 300ms ease-in-out,
    height 300ms ease-in-out, top 300ms ease-in-out, left 300ms ease-in-out;
}

/*Mainpage*/

.hiddenMainpage {
  display: none;
}

/*.visibleMainpage {
  display: block;
}*/

/*Login-Seite rechts oben*/

.mainpageSignUpContainer {
  width: 279px;
  height: 49px;
  top: 67px;
  left: 1039px;
  gap: 35px;
  position: absolute;
  display: flex;
  align-items: center;
}

.textNotUser {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #000000;
}

.mainpageSignUpButton {
  grid-template-columns: max-content;
  width: 91px;
  height: 49px;
  padding: 15px 16px 15px 16px;
  gap: 10px;
  border-radius: 8px;
  background: #2a3647;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.2px;
  display: grid;
  align-content: center;
  justify-content: center;
  cursor: pointer;
}

.mainpageSignUpButton:hover {
  background-color: #29abe2;
  border: none;
  box-shadow: 0px 4px 4px 0px #00000040;
}

/*Login-Seite Login-Kasten*/

.loginContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  width: 422px;
  height: 397px;
  left: 394px;
  top: 265.5px;
  padding: 48px 115px 48px 115px;
  border-radius: 30px;
  gap: 32px;
  box-shadow: 0px 0px 14px 3px #0000000a;
  position: absolute;
}

/*Login-Überschrift*/

.loginHeadline {
  font-family: Inter;
  font-size: 61px;
  font-weight: 700;
  line-height: 73.2px;
  text-align: center;
  position: relative;
  width: 315px;
  height: 89px;
  display: flex;
  gap: 16px;
  justify-content: center;
  margin: 0;
}

.loginHeadline::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  border-bottom: 3px solid #29abe2;
}

/*Loginkästchen*/

.mainCredentials {
  height: 196px;
  width: 422px;
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.loginInputFields {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 422px;
  height: 152px;
  gap: 32px;
}

.loginEmail {
  background-image: url(./assets/img/mailIcon.png);
  background-repeat: no-repeat;
  width: 380px;
  height: 24px;
  gap: 10px;
  display: flex;
  border-radius: 10px;
  padding: 12px 21px 12px 21px;
  border: 1px solid #d1d1d1;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: #d1d1d1;
}

.loginPassword {
  width: 380px;
  gap: 8px;
  display: flex;
  height: 24px;
  padding: 12px 21px 12px 21px;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

/*Remember-Abschnitt*/

.rememberMeSection {
  display: flex;
  width: 142px;
  height: 24px;
  gap: 8px;
  left: 39px;
  position: relative;
  align-items: center;
}

.checkboxRemember {
  height: 24px;
  width: 24px;
  border-radius: 3px;
  cursor: pointer;
}

.checkboxLabel {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
  flex-shrink: 0;
}

/*Login-Abschnitt Buttons*/

.loginButtons {
  display: flex;
  width: 322px;
  height: 48px;
  gap: 35px;
}

.mainpageLoginButton {
  grid-template-columns: max-content;
  width: 110px;
  height: 48px;
  padding: 15px 24px 15px 24px;
  gap: 10px;
  border-radius: 8px;
  background: #2a3647;
  color: #ffffff;
  font-size: 21px;
  font-weight: 700;
  line-height: 25.2px;
  display: grid;
  align-content: center;
  justify-content: center;
  cursor: pointer;
}

.mainpageLoginButton:hover {
  background-color: #29abe2;
  border: none;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.mainpageGuestButton {
  grid-template-columns: max-content;
  display: grid;
  width: 177px;
  height: 48px;
  padding: 15px 24px 15px 24px;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid #2a3647;
  background-color: #ffffff;
  font-family: Inter;
  font-size: 21px;
  font-weight: 700;
  line-height: 25.2px;
  text-align: left;
  color: #2a3647;
  align-content: center;
  justify-content: center;
}

.mainpageGuestButton:hover {
  color: #29abe2;
  border: 1px solid #29abe2;
  box-shadow: 0px 4px 4px 0px #00000040;
}

/*Datenschutz Buttons*/

.legalButtonsContainer {
  display: flex;
  position: relative;
  /*width: 246px;*/
  height: 35px;
  top: 949px;
  left: 597px;
  gap: 16px;
}

.legalButtonLeft {
  /*width: 121px;
  height: 35px;*/
  padding: 8px;
  gap: 8px;
  display: flex;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  color: #a8a8a8;
  text-align: left;
  background: transparent;
  border: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.legalButtonRight {
  /*width: 109px;
  height: 35px;*/
  padding: 8px;
  gap: 8px;
  display: flex;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  color: #a8a8a8;
  text-align: left;
  background: transparent;
  border: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.legalButtonRight:hover {
  color: #29abe2;
  font-weight: 700;
}

.legalButtonLeft:hover {
  color: #29abe2;
  font-weight: 700;
}
