<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../assets/templates/templates.css">
    <link rel="stylesheet" href="../../fonts.css" />
    <script src="../../js/template.js"></script>
    <script src="../../js/summary.js"></script>
</head>
<body onload="hoverSidebar()">
    <header>
        <div class="headerTitel">Kanban Project Management Tool</div>
        <img class="altImg" src="../../assets/img/logoLarge.svg" alt="Logo">
        <div class="headerImg">
            <div class="boundingHelp"><img class="imgHelp" src="../../assets/img/help.png" alt=""  onclick="location.href='help.html';"></div>
            <div class="boundingProfil">
                <p id="idLoginName"></p>
            </div>
        </div>
    </header>

    <nav>
        <img class="logoSidebar" src="../../assets/img/logoSidebar.png" alt="">
        <div class="menuSidebar">
            <div id="frameSummary" class="menuFrames" onclick="location.href='summary.html';">
                <div class="iconSidebar flex_center">
                    <div id="imgFrameSummary" class="imgSidebar imgSummary"></div>
                </div>
                <p class="menuSidebarHover">Summary</p>
            </div>
            <div id="frameAddtasks" class="menuFrames" onclick="location.href='add_task.html';">
                <div class="iconSidebar flex_center">
                    <div id="imgFrameAddtask" class="imgSidebar imgAddTask"></div>
                </div>
                <p class="menuSidebarHover">Add Task</p>
            </div>
            <div id="frameBoard" class="menuFrames" onclick="location.href='board.html';">
                <div class="iconSidebar flex_center">
                    <div id="imgFrameBoard" class="imgSidebar imgBoard"></div>
                </div>
                <p class="menuSidebarHover">Board</p> 
            </div>
            <div id="frameContacts" class="menuFrames" onclick="location.href='contacts.html';">
                <div class="iconSidebar flex_center">
                    <div id="imgFrameContacts" class="imgSidebar imgContacts"></div>
                </div>
                <p class="menuSidebarHover">Contacts</p>
            </div>
        </div>
        <div class="privacySidebar">
            <p class="privacyColor">Privacy Policy</p>
            <p class="privacyColor">Legal notice</p>
        </div>
    </nav>
</body>
</html>