<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="templates.css">
</head>
<body>
    <header>
        <div class="headerTitel">Kanban Project Management Tool</div>
        <div class="headerImg">
            <div class="boundingHelp"><img class="imgHelp" src="../img/help.png" alt=""></div>
            <div class="boundingProfil">
                <p>SM</p>
            </div>
        </div>
    </header>

    <nav>
        <img class="logoSidebar" src="../img/logoSidebar.png" alt="">
        <div class="menuSidebar">
            <div class="menuFrames" onclick="">
                <div class="iconSidebar flex_center">
                    <div class="imgSidebar imgSummary"></div>
                </div>
                <p>Summary</p>
            </div>
            <div class="menuFrames" onclick="">
                <div class="iconSidebar flex_center">
                    <div class="imgSidebar imgAddTask"></div>
                </div>
                <p>Add Task</p>
            </div>
            <div class="menuFrames" onclick="">
                <div class="iconSidebar flex_center">
                    <div class="imgSidebar imgBoard"></div>
                </div>
                <p>Board</p> 
            </div>
            <div class="menuFrames" onclick="">
                <div class="iconSidebar flex_center">
                    <div class="imgSidebar imgContacts"></div>
                </div>
                <p>Contacts</p>
            </div>
        </div>
        <div class="privacySidebar">
            <p class="privacyColor">Privacy Policy</p>
            <p class="privacyColor">Legal notice</p>
        </div>
    </nav>
</body>
</html>