@media(max-width:1400px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .footer {
        gap: 20px;
    }

    .container-board-addTask {
        top: 0;
        right: 0;
        left: 0;
    }

    body {
        overflow: hidden;
    }
}

@media(max-width: 1400px) {
    #content {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        height: fit-content;
        scrollbar-width: none;
        max-height: 480px;
    }

    .content-left {
        height: auto;
    }

    #seperator-content {
        display: none;
    }

    #display-initials {
        padding-bottom: 20px;
    }

    .footer {
        margin-top: 0;
        justify-content: left;
        position: fixed;
        bottom: 150px;
        height: 70px;
    }

    .footer span {
        width: 80px;
        padding-right: 10px;
    }

    /* #display-categorie {
        bottom: 420px;
    } */
}

@media(max-width: 480px) {
    #content {
        margin-left: 185px;
    }

    #display-categorie {
        width: 58%;
    }

    .input-categorie-arrow-down {
        right: 200px;
    }

    #input-categorie-image-up {
        right: 200px;
    }

    .input-prio-span {
        flex-direction: column;
        gap: 20px;
    }

    #input-title {
        width: 255px;
        display: flex;
    }

    #input-description {
        max-width: 255px;
        min-width: 0;
    }

    #input-assigny {
        width: 255px;
        font-size: 18px;
    }

    .input-container-contacts {
        width: 255px;
    }

    #show-contacts {
        width: 255px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .display-contacts-dropdown {
        width: 255px;
        display: flex;
        flex-direction: column;
    }

    #display-initials {
        grid-template-columns: repeat(4, 65px);
    }

    #input-date {
        width: 255px;
        display: flex;
        text-align: center;
    }

    #input-category {
        width: 255px;
        display: flex;
    }

    .input-container {
        width: 255px;
    }

    #input-subtask {
        width: 255px;
    }

    #show-subtask {
        width: 255px;
    }

    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 50px;
    }

    .footer span {
        width: 345px;
        font-size: 18px;
        /* display: flex; */
        justify-content: center;
    }

    .button-footer {
        margin-left: 35px;
    }

    .btn-footer-clear {
        width: 100px;
    }
}

@media(max-height: 740px) {
    #content {
        height: 530px;
    }
}

@media(max-width: 680px) {
    .footer {
        flex-direction: column;
    }
}

@media(max-width: 328px) {
    #content {
        max-height: 100px;
    }
}

@media(max-width:1400px) {
    .container-board-addTask {
        top: 0;
        right: 0;
        left: 0;
    }
}

@media(max-width: 345px) {
    #content {
        max-height: 450px;
    }

    .overlay-create-task {
        flex-direction: column;
    }
}

@media(min-width: 375px) and (min-height: 667px) {
    h1 {
        margin-left: 0;
    }
}


/*--------------------- max-heigh ------------------------*/

@media(max-height: 880px) and (max-width: 1400px) {
    #content {
        max-height: 330px;
    }
}

@media(max-height: 790px) {
    #content {
        max-height: 200px;
    }
}

@media(max-height: 839px) {
    .footer {
        margin-top: 216px;
    }
}