@media (max-height: 770px) {
    .loginContainer {
      margin-top: 70px;
      height: 460px;
    }
    .legalButtonsContainer {
      top: 580px;
    }
  
    input {
      width: 60%;
    }
  
    .loginEmail,
    .loginPassword,
    #errorMessage {
      width: 70%;
      margin-left: 40px;
    }
  
    .loginInputFields {
      width: 0;
    }
  
    .mainpageSignUpContainer {
      margin-top: 10px;
    }
  
    .rememberMeSection {
      margin-left: 40px;
    }
  
    .loginButtons {
      margin-left: 20px;
    }
  }
  